<div class="card" draggable="true">
  <div class="card-title">
    <b>{{Name}}</b>
    <b>{{Level}}</b>
  </div>
  <div class="card-image"><img src="/images/{{Image}}.png" /></div>
  <div class="card-description"> {{Description}} </div>
  <div class="card-power">
    <div class="card-health">
      <div class="card-health-bar">
        <div class="card-health-points">{{HealthPoint}}/{{HealthPoint}}</div>
      </div>
    </div>
    <div class="card-status">
      <div class="card-attack-physical">{{Attack}}/{{Magic}}</div>
      <div class="card-attack-magic">{{Defense}}/{{MagicResist}}</div>
    </div>
  </div>
</div>
